<form action="/auth/sign_in" method="post">
	<input required aria-label="E-mail address" autofocus="autofocus" type="email" value="" name="user[email]">
	<input required aria-label="Password" type="password" value="" name="user[password]">
	<button type="submit">Log in</button>
</form>